.ant-btn-primary {
  background-color: #ffd700;
  border-color: #ffd700;
}

.ant-pagination-item-active {
  border-color: #ffd700 !important;
}

li.ant-pagination-item-active a {
  color: #3fc060 !important;
}

.ant-menu-item-selected {
  background-color: #ffd700 !important;
}

.ant-menu-item-selected span {
  color: black;
}

.ant-menu-item-active {
  color: #3fc060 !important;
}
